# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container:
      image: michaelfung/perl-devel:5.32.1

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: check perl version
        run: perl -V

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v3
        with:
          path: local
          key: ${{ runner.os }}-deps

      - name: Install dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: |
          carton install --deployment

      - name: Run unit test
        run: |
          export PATH=$PATH:./local/bin
          export PERL5LIB=./lib:./local/lib/perl5
          export MOJO_REACTOR=Mojo::Reactor::UV
          export MOJO_MAX_MESSAGE_SIZE=65536   # default is 10485760 (10MB)
          export MOJO_MODE=development
          export MOJO_LOG_LEVEL=debug
          prove -v

