# Build container image for deployment
name: Image

on:
  push:
    branches: ["testing"]

  workflow_dispatch:

jobs:

  build-deps:
    name: build dependencies
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v3
        with:
          path: local
          key: ${{ runner.os }}-deps-local-${{ hashFiles('cpanfile*') }}
       
      - name: Install dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: |
          docker run --rm -t -v `pwd`:/app -w /app michaelfung/perl-devel:5.32.1 carton install --deployment

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: release.Dockerfile
          push: true
          tags: michaelfung/mojo-app:latest
