# Build container image for deployment
name: Container Image

on:
  release:
    types: [published]

jobs:

  build-deps:
    name: build dependencies
    runs-on: ubuntu-latest
    container:
      image: michaelfung/perl-devel:5.32.1

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v3
        with:
          path: local
          key: ${{ runner.os }}-${{ hashFiles('cpanfile*') }}

      - name: Install dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: |
          carton install --deployment

      - name: store deps
        uses: actions/upload-artifact@v3
        with:
          name: deps
          path: local/


  build-image:
    name: build container image
    needs: build-deps
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: load deps
        uses: actions/download-artifact@v3
        with:
          name: deps
          path: local

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: release.Dockerfile
          push: true
          tags: michaelfung/mojo-app:latest

